src/cp2utf8
src/libcp2utf8.so
test/cp2utf8_test

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing/

debian/tmp
debian/*.debhelper.log
debian/cp2utf8/
debian/cp2utf8.substvars
debian/files
obj-x86_64-linux-gnu/

.cproject
.project
